<%= form_with(model: [category, task]) do |f| %>
  <div class="container">
    <h4 class="text-center"><%= form_label %></h4>

    <div class="form-floating mb-3">
      <%= f.text_field :title, class: "form-control" %>
      <%= f.label :title %>
    </div>

    <div class="form-floating mb-3">
      <%= f.date_field :deadline, value: task.deadline ? task.deadline : Time.now.strftime("%Y-%m-%d"), class: "form-control mb-3" %>
      <%= f.label :deadline %>
    </div>
  
    <%= f.rich_text_area :body %>

    <%= f.submit button_label, class: "btn btn-outline-primary mt-3 w-25 float-end" %>
  </div>
<% end %>