<%= form_with(model: [category, task]) do |f| %>
  <div class="container">

    <div>
      <%= f.label :title, class: "form-label" %>
      <%= f.text_field :title, class: "form-control mb-3" %>
    </div>
    <div>
      <%= f.label :deadline, class: "form-label" %>
      <%= f.date_field :deadline, value: task.deadline ? task.deadline : Time.now.strftime("%Y-%m-%d"), class: "form-control mb-3" %>
    </div>
  
    <%= f.rich_text_area :body %>

    <%= f.submit button_label, class: "btn btn-outline-primary mt-1" %>
  </div>
<% end %>