<div id="task-<%= task.id %>" class="card p-3 m-3">
  <div class="d-flex justify-content-between">
    <div>
      <% if deadline_now? task.deadline %>
        <span class="badge text-bg-danger"><%= deadline_to_words(task.deadline) %></span>
      <% else %>
        <span class="badge text-bg-success"><%= deadline_to_words(task.deadline) %></span>
      <% end %>
      <% if task.title.strip == "" or task.title == "Untitled" %>
        <h3 class="mt-2 fc-gray">Untitled</h3>
      <% else %>
        <h3 class="mt-2"><%= task.title.capitalize %></h3>
      <% end %>
    </div>
    <div class="d-flex justify-content-between align-items-start">
      <%= link_to 'Edit', nil, remote: true, class:"btn btn-outline-success fs-7",
      data: {
        controller: "tasks",
        action: "tasks#showEditForm",
        tasks_form_param: "edit-form-#{task.id}",
        tasks_backdrop_param: "edit-task-backdrop"
      } %>
      <%= button_to "Delete", [category, task], class:"btn btn-outline-danger fs-7 ms-2", method: :delete %>
    </div>
  </div>

  <div id="task-body-<%= task.id %>" class="card-body">
    <%= task.body %>
  </div>

  <p class="fs-7 fst-italic text-end me-3">
    <% if (task.updated_at - task.created_at) > 1 %>
      <span>edited <%= time_ago_in_words(task.updated_at) %> ago</span>
    <% else %>
      <span>added <%= time_ago_in_words(task.created_at) %> ago</span>
    <% end %>
  </p>
  
  <div id="edit-form-<%= task.id %>" class="d-none edit-task-form p-4 task-form">
    <%= render 'tasks/form', category: @category, task: task, button_label: "Confirm", form_label: task.title.capitalize %>
  </div>
  <%= link_to "", nil, remote: true, class: "d-none task-backdrop", id: "edit-task-backdrop",
  data: {
    controller: "tasks",
    action: "tasks#hideEditForm",
    tasks_form_param: "edit-task-form",
    tasks_backdrop_param: "edit-task-backdrop"
  } %>
</div>