<%= form_with(model: category) do |form| %>
  <div class="form-floating mb-3">
    <%= form.text_field :name, required: true ,autofocus: true, placeholder: "Weekend Plans", class: "form-control" %>
    <%= form.label :name %>
  </div>

  <div>
    <%= form.text_area :details, class: "form-control", rows: "6", placeholder: "Add some description here..." %>
  </div>

  <div class="d-grid mt-5">
    <%= form.submit "Save", class: "btn btn-outline-success btn-block" %>
  </div>
<% end %>
