<%= form_with(model: category) do |form| %>
  <div>
    <%= form.label :name, class: "form-label" %>
    <%= form.text_field :name, autofocus: true, placeholder: "Weekend Plans", class: "form-control mb-3" %>
  </div>

  <div>
    <%= form.label :details, class: "form-label" %>
    <%= form.text_area :details, class: "form-control mb-3", rows: "10px" %>
  </div>

  <div class="d-grid mt-5">
    <%= form.submit "Save", class: "btn btn-outline-success btn-block" %>
  </div>
<% end %>
