<div class="container w-75">
  <h3 class="text-center my-3"><%= @category.name.capitalize %></h3>
  
  <% @tasks.each do |task| %>
    <%= render 'tasks/task', category: @category, task: task %>
  <% end %>

  <h4 class="text-center">New Task</h4>
  <%= render 'tasks/form', category: @category, task: @category.tasks.build, button_label: "Save" %>

  <div class="d-grid gap-2 d-md-block">
    <%= link_to "Back", categories_path, class: "btn btn-dark" %>
    <%= link_to "Edit", edit_category_path(@category), class: "btn btn-primary" %>
    <%= button_to "Delete", @category, method: :delete, class: "btn btn-danger" %>
  </div>
</div>
