<div class="container w-100 mx-auto">
  <div class="d-flex justify-content-between align-items-center m-3">
    <h3 class="text-center align-middle mb-0"><%= @category.name.capitalize %></h3>
    <div class="d-flex">
      <%= link_to 'New Task', nil, remote: true, class:"btn btn-primary fs-7 ms-auto w-f-90",
      data: {
        controller: "categories",
        action: "categories#showForm",
        categories_form_param: "new-task-form",
        categories_backdrop_param: "new-task-backdrop"
      } %>
      <%= link_to "Edit", edit_category_path(@category), class: "btn btn-dark ms-1 fs-7 w-f-90" %>
      <%= button_to "Delete", @category, method: :delete, class: "btn btn-dark ms-1 fs-7 w-f-90" %>
      <%= link_to "Back", categories_path, class: "btn btn-dark fs-7 ms-1 w-f-90" %>
    </div>
  </div>
  
  <div class="mt-4 tasks-grid">
    <% @tasks.each do |task| %>
      <%= render 'tasks/task', category: @category, task: task %>
    <% end %>
    
    <% unless @tasks.count > 0 %>
      <%= render 'tasks/placeholder' %>
    <% end %>
  </div>
  
  <div id="new-task-form" class="d-none new-task-form p-4 task-form">
    <%= render 'tasks/form', category: @category, task: @category.tasks.build, button_label: "Save", form_label: @category.name.capitalize %>
  </div>
  <%= link_to "", nil, remote: true, class: "d-none task-backdrop", id: "new-task-backdrop",
  data: {
    controller: "categories",
    action: "categories#hideForm",
    categories_form_param: "new-task-form",
    categories_backdrop_param: "new-task-backdrop"
  } %>
</div>
